---
layout: static
title: Projects
---
<ul id="post-list">
{% for post in site.categories.projects %}
<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3> <span class="desc">{{post.description}}</span></li>
{% endfor %}
</ul>

