---
layout: static
title: Doodles
---
<ul id="post-list">
{% for post in site.categories.doodles %}
<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3> <span class="desc">{{post.description}}</span></li>
{% endfor %}
</ul>

