---
layout: static
title: Blog
---
<ul id="post-list">
{% for post in site.categories.blog %}
<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3> <span class="desc">written on {{post.date | date: "%B %d, %Y" }}</span></li>
{% endfor %}
</ul>

